In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv("data.csv")

In [11]:
df

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108044  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [12]:
df.isnull().sum()

x1    5
x2    3
y     0
dtype: int64

In [13]:
df.notnull().sum()

x1    2222
x2    2224
y     2227
dtype: int64

In [3]:
model = LinearRegression()

In [ ]:
c1 = [2,3]# Cluster center for class 1 data
c2 = [10,11]# Cluster center for class 2 data
no = 50 # No of samples in a class
class1 = np.matlib.repmat(c1,no,1) + np.random.randn(no,len(c1))
class2 = np.matlib.repmat(c2, no,1)+ np.random.randn(no,len(c2))
D = np.append(class1,class2,axis =0)
Data = np.concatenate((D, np.ones((2*no,1))),axis = 1)
c1_label = np.ones((no,1))
c2_label = -1*np.ones((no,1))
label = np.concatenate((c1_label,c2_label),axis = 0)
Data = Data.T
y = label.T# True label